body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

#user-info {
    margin-top: 30px;
}

#shap-image img {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}
